#ngj1{
    background: linear-gradient(to bottom, #2c3e50,#2980b9);
    color: white;
    font-weight: bold;
}

#ngj2{
    background:#2980b9;
    color: white;
}

#about{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
}

#first-pic-text{
    width: 50%;
    height: fit-content;
}

#second-pic-faq{
    width: 50%;
}

#first-pic-text img, #second-pic-faq img{
    max-width: 100%;
    height: auto;
}

#first-pic-text,#second-pic-faq{
    margin: 1rem;
}

#text{
    margin-top: 1rem;
}

#faq{
    text-align: right;
}

.accordion {
    margin-top: 1rem;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}
  
.active, .accordion:hover {
    background-color: #ccc;
}
  
.panel {
    text-align: left;
    padding: 20px 0px;
    display: none;
    overflow: hidden;
}


@media(max-width:1024px){
    #about{
        flex-direction: column;
    }
    #first-pic-text,#second-pic-faq{
        width: 90%;
    }
    #faq{
        text-align: left;
    }
    #stafi{
        flex-direction: column;
    }
    .staff{
        width: 90% !important;
        padding-top: 1rem;
    }
    .staff .content{
        padding: 5px !important;
    }
}

#stafi-text{
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 40px;
    text-align: center;
}

#stafi{
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.staff{
    width: 32%;
    position: relative;
    margin: 0 auto;
}

.staff .content{
    position: absolute;
    bottom: 4px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    padding: 20px;
}

.staff .content h1, .staff .content p{
    padding: 5px;
    background: none;
    color: white;
}

.staff img{
    max-width: 100%;
    height: auto;
}