#ngj{
    background: linear-gradient(to bottom, #2c3e50,#2980b9);
}
#contact{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#map{
    width: 60%;
}

#map iframe{
    width: 100%;
}

#contact-form{
    width: 40%;
    color: white;
}

#contact-details{
    margin-left: 1rem;
    padding-top: 3rem;
}

#contact-details h3{
    padding-top: 4rem;
    color: #2ecc71;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact-details h4{
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

#contact-form form{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    line-height: 3rem;
}

#contact-form form input{
    border:1px solid #CCC;
	background:#FFF;
    height: 30px;
    padding: 5px;
}

#contact-form form textarea{
    height:200px;
    padding:5px;
    border: 1px solid #CCC;
    background: #FFF;
    resize: none;
}
#submit-button{
    width: 25%;
    margin: auto;
    margin-top: 2rem;
    height: 50px !important;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    font-size: 18px;
    outline: none;
}

#submit-button:hover{
    transition: 0.4s;
    background-color: #2ecc71 ;
    color: white;
}

@media(max-width:1024px){
    #contact{
        flex-direction: column;
    }
    #map, #contact-form{
        width: 100%;
        margin-top: 2rem;
    }
    #contact-details,#contact-form form{
        padding-top: unset;
        margin-left: unset;
    }
    #contact-details h3 {
        padding-top: unset;
    }
}

#fillErrorName,#fillErrorEmail,#fillErrorKoment{
    display: none;
    color: red;
    line-height: normal;
    font-size: 13px;
    font-style: italic;
    padding-bottom: 7px;
}
