*{
    padding: 0;
    margin: 0;
    background: none;
    font-family: sans-serif;
}
html{
    height: 100%;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/Optimized-seaside.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
}

nav{
    background: none;
    background-image: none;
    border: none;
}

#menu li{
    color: white;
    font-weight: bold;
    background: none;
}

#box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 440px;
    margin: 2rem auto;
    padding: 5px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

#btn-box{
    margin: 35px auto;
    width: 220px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    transition: .5s;
    border-radius: 30px;
}

.ikonat{
    margin: 30px auto;
    text-align: center;
}

.ikonat img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.inputi{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#box-text{
    margin: 1rem 1rem 1rem 0;
    display: inline-flex;
}

#remember,#checkbox-text{
    padding-left: 3px;
}

#pointeri{
    text-decoration: underline;
    display: inline;
}
#pointeri:hover{
    cursor: pointer;
}
span{
    color: #777;
    font-size: 12px;
    /* bottom: 68px;
    position: absolute; */
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 500px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal-content p {
    color:#ff6106;
    padding: 1rem;
    text-align: left;
}

.modal-content h3{
   color: #ff105f;
    padding-left: 1rem;
    text-align: left;
}

#login{
    left: 50px;
}

#sign-up{
    left: 450px;
}
@media(max-width:1024px){
    #box{
        top: 60% !important;
    }
}
@media(max-width:590px){
    #box {
        width: 290px;
        height: 400px;
    }

    .inputi{
        width: 200px;
    }

    #sign-up{
        top: 150px;
    }

    .modal-content{
        width: 80% !important;
    }
}

/* autocomplete background removed */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}