* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#bookings {
  height: 350px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;
  overflow-x: auto;
}

#bookings h1 {
  margin: 2rem auto;
}

#booking-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#booking-table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#booking-table tr:nth-child(even) {
  background-color: #dddddd;
}

#bookings .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#profile-row {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 12rem 0;
  height: 400px;
  align-items: center;
}

#profile-row button {
  height: 100px;
  width: 35%;
  background-color: #2c3e50;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
}

#left-row {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#left-row h1 {
  text-align: center;
  padding: 1rem 0;
}

#left-row h2 {
  padding-bottom: 1rem;
}

#right-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#right-row img {
  width: 100%;
  height: 20vh;
}

#right-row #change-pic {
  margin: 2rem 0;
}

#left-row input {
  height: 40px;
  width: 400px;
  margin: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #2c3e50;
  text-transform: uppercase;
}

#menu {
  width: 550px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  font-size: 17px;
}

#menu li {
  background-color: #2c3e50;
  color: white;
  font-weight: bold;
}

#ham {
  display: none;
  padding: 2rem;
  width: 40px;
}

.hide-desktop {
  display: none !important;
}

.show-desktop {
  display: flex !important;
}

@media (max-width: 590px) {
  #menu {
    flex-direction: column;
    justify-content: unset;
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 7;
    padding-top: 2em;
  }

  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: flex !important;
  }

  #exit {
    position: relative;
    left: 88%;
    top: -3%;
    width: 20px;
  }

  #menu li {
    padding: 1rem;
    background: none;
  }
}

#menu a {
  text-decoration: none;
  color: black;
  line-height: 3rem;
}

#first-section {
  display: flex;
  background: linear-gradient(to bottom, #2c3e50, #2980b9);
}

#promo-mini {
  width: 65%;
}

#promo-mini img {
  width: 100%;
  height: 100%;
}

#rolling-promo {
  height: 500px;
  margin-left: 2rem;
}

#butonat {
  text-align: center;
  padding-bottom: 5px;
  position: relative;
  top: 55%;
  display: flex;
  justify-content: space-between;
}

#prev {
  margin-right: 1rem;
  border-radius: 0px 15px 15px 0px;
}

#next {
  margin-left: 1rem;
  border-radius: 15px 0px 0px 15px;
}

#prev,
#next {
  width: 70px;
  height: 40px;
  cursor: pointer;
  border-style: none;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  outline: none;
}

#prev:hover,
#next:hover {
  background: rgba(0, 0, 0, 0.8);
}

#mini-promos {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 2rem;
  height: auto;
}

.mini-promo {
  width: 24%;
}

#booking-offer {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#booking {
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 2rem;
  border: 1px solid white;
  height: 500px;
}

#booking h1 {
  color: white;
  padding: 20px;
  border-bottom: 1px solid white;
}

#offer {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 2rem;
  height: 180px;
  border: 1px solid white;
  color: white;
}

#offer-text {
  text-align: center;
  margin: 35px 0;
}

#offer h1 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid white;
}
@media (max-width: 600px) {
  #booking,
  #offer {
    margin-left: unset;
    margin-right: unset;
  }
}
@media (max-width: 1300px) {
  #profile-row {
    margin-top: 3rem;
    flex-direction: column;
  }

  #bookings {
    width: 90%;
  }

  #left-row {
    width: unset;
  }

  #first-section {
    flex-direction: column;
  }
  #booking-offer,
  #promo-mini {
    width: 90%;
    margin: auto;
  }
  #rolling-promo,
  #mini-promos {
    margin-top: 5px;
    margin-left: 0;
    height: unset;
  }
  #rolling-promo img {
    height: auto;
  }
  #opsionet button {
    align-self: center !important;
    height: 60px !important;
    width: 50% !important;
  }
  #prev,
  #next {
    width: 50px;
  }
  #butonat {
    top: 36vw;
    width: 100%;
  }
}

#opsionet {
  margin: auto;
  width: 70%;
}

#booking-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

#opsionet select {
  margin-bottom: 2rem;
  height: 35px;
}

#opsionet button {
  height: 40px;
  width: 100px;
  align-self: flex-end;
}

footer {
  background: #2980b9;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.error {
  border: 1px red solid !important;
}

.fillError {
  display: none;
  color: red;
  line-height: normal;
  font-size: 13px;
  font-style: italic;
  padding-bottom: 7px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
